extends layout

block head
  title #{orgName} Traveler - documentation
  meta(name='viewport', content='width=device-width, initial-scale=1.0')
  link(rel='stylesheet', href='#{prefix}/bootstrap/css/bootstrap.css')
  link(rel='stylesheet', href='#{prefix}/font-awesome-4.3.0/css/font-awesome.css')
  link(rel='stylesheet', href='#{prefix}/stylesheets/style.css')
  link(rel='stylesheet', href='#{prefix}/stylesheets/doc.css')
block content
  //- header
  .container
    .hero-unit
      include:marked ./docs/hero.md

  .container
    .row
      .span9
        section#how-to-use
          h2 How to use this document
          p There is an Audience statement on the top of each section. If you are not the target audience, then you can skip the section.
        section#basics
          include ./docs/basics.jade
        section#travelers
          include ./docs/travelers.jade
        section#forms
          include ./docs/forms.jade
        section#binders
          include ./docs/binders.jade
        section#api
          include ./docs/api.jade
        section#faq
          include ./docs/faq.jade
        section#contact
          include:marked ./docs/contact.md

      .span3.sidebar
        ul.nav.flex-column.nav-list.nav-stacked.bs-docs-sidenav.affix
          li.nav-item
            a.nav-link(href='#basics') Basics
          li.nav-item
            a.nav-link(href='#travelers') Travelers
          li.nav-item
            a.nav-link(href='#forms') Forms
          li.nav-item
            a.nav-link(href='#binders') Binders
          li.nav-item
            a.nav-link(href='#api') API
          li.nav-item
            a.nav-link(href='#faq') FAQ
          li.nav-item
            a.nav-link(href='#contact') Contact


block js
  script(type='text/javascript', src='#{prefix}/jquery/jquery.js')
  script(type='text/javascript', src='#{prefix}/bootstrap/js/bootstrap.bundle.js')
